%h1 Listing parcels

%table
  %tr
    %th Build
    %th Build name
    %th Address
    %th City
    %th Zipcode
    %th
    %th
    %th

  - @parcels.each do |parcel|
    %tr
      %td= parcel.build_id
      %td= parcel.build_name
      %td= parcel.address
      %td= parcel.city_id
      %td= parcel.zipcode
      %td= link_to 'Show', parcel
      %td= link_to 'Edit', edit_parcel_path(parcel)
      %td= link_to 'Destroy', parcel, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Parcel', new_parcel_path
