%h1 Listing school_types

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @school_types.each do |school_type|
    %tr
      %td= school_type.name
      %td= link_to 'Show', school_type
      %td= link_to 'Edit', edit_school_type_path(school_type)
      %td= link_to 'Destroy', school_type, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New School type', new_school_type_path
