%tr{:id=>"visible_school_#{school.id}", :class => "#{row_classes}"}
  %td
    = link_to image_tag('school.png'), school_path(school), :rel => 'facebox'
  %td
    %h3
      = link_to school.name, school_path(school), :rel => 'facebox'
    %span.italic
      == #{school.address}, #{school.city.try(:name)}

  = render :partial => 'schools/table/columns/overview', :locals => {:school => school}

  = render :partial => 'schools/table/columns/transportation', :locals => {:school => school}

  = render :partial => 'schools/table/columns/academics', :locals => {:school => school}

  = render :partial => 'schools/table/columns/admissions', :locals => {:school => school}