%tr{:id=>"visible_school_#{school.id}", :class => "#{row_classes}"}
  %td.small-image-column
    = image_tag(school.image(:thumb), :class => 'rounded-corners')
  %td.title-column
    %h4.bold
      = link_to school.name, school_path(school), :rel => 'facebox'
    %span.italic
      == #{school.address}, #{school.city.try(:name)}

  = render :partial => 'schools/table/columns/overview', :locals => {:school => school}

  = render :partial => 'schools/table/columns/transportation', :locals => {:school => school}

  = render :partial => 'schools/table/columns/academics', :locals => {:school => school}

  = render :partial => 'schools/table/columns/admissions', :locals => {:school => school}
  
  %td
    = link_to "View", school_path(school), :rel => 'facebox', :class => 'blue-button'
  %td
    %div{:id => "favorite_button_#{school.id}"}
      - if session[:favorites].try(:include?, school.id)
        = link_to "Unfavorite", unfavorite_school_path(school.id, address: session[:address], zipcode: session[:zipcode], grade_level: session[:grade_level]), :remote => true, :method => :post, :class => 'gray-button'
      - else
        = link_to "Favorite", favorite_school_path(school.id, address: session[:address], zipcode: session[:zipcode], grade_level: session[:grade_level]), :remote => true, :method => :post, :class => 'yellow-button'