%tr{:id=>"visible_school_#{school.id}", :class => "#{row_classes}"}
  %td.small_image_column
    = image_tag(school.image(:thumb), :class => 'rounded-corners')
  %td.title_column
    %h4.bold
      = link_to school.name, school_path(school), :rel => 'facebox'
    %span.italic
      == #{school.address}, #{school.city.try(:name)}

  = render :partial => 'schools/table/columns/overview', :locals => {:school => school}

  = render :partial => 'schools/table/columns/transportation', :locals => {:school => school}

  = render :partial => 'schools/table/columns/academics', :locals => {:school => school}

  = render :partial => 'schools/table/columns/admissions', :locals => {:school => school}
  
  %td.view_button_column
    = link_to "View", school_path(school), :rel => 'facebox', :class => 'blue-button'
  %td.favorite_button
    = render :partial => 'schools/favorite_button', :locals => {:school => school}