%h1 Listing school_groups

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @school_groups.each do |school_group|
    %tr
      %td= school_group.name
      %td= link_to 'Show', school_group
      %td= link_to 'Edit', edit_school_group_path(school_group)
      %td= link_to 'Destroy', school_group, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New School group', new_school_group_path
