%tr{:id=>"visible_school_#{school.id}"}
  %td
    = link_to image_tag('school.png')
  %td
    %h3= link_to school.name, school_path(school), :rel => 'facebox'
    %span.italic
      == #{school.address}, #{school.city.try(:name)}, #{school.state.try(:abbreviation)}
      %br/
      = school.phone
  
  = render :partial => 'schools/table_parts/overview', :locals => {:school => school}
    
  = render :partial => 'schools/table_parts/transportation', :locals => {:school => school}

  = render :partial => 'schools/table_parts/academics', :locals => {:school => school}

  = render :partial => 'schools/table_parts/admissions', :locals => {:school => school}
  
  %td.hide-button{:width=>'16px'}
    = link_to image_tag('icons/hide.png'), hide_school_path(school), :remote => true, :method => :post