%h1 Listing states

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @states.each do |state|
    %tr
      %td= state.name
      %td= link_to 'Show', state
      %td= link_to 'Edit', edit_state_path(state)
      %td= link_to 'Destroy', state, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New State', new_state_path
