= form_for @walk_zone do |f|
  -if @walk_zone.errors.any?
    #error_explanation
      %h2= "#{pluralize(@walk_zone.errors.count, "error")} prohibited this walk_zone from being saved:"
      %ul
        - @walk_zone.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :distance
    = f.text_field :distance
  .actions
    = f.submit 'Save'
