%h2.bold Welcome to the BPS School Discovery Tool

.notes.rounded-corners
  = image_tag('icons/information.png')
  %span.bold
    DiscoverBPS 
  allows parents and students to find eligible schools and create a customized list of favorites. To get started, please enter your home address and the student’s upcoming grade level in the search form, below, and then click “Search.”

#search-form
  - session[:address].blank? ? session[:address] = '26 Court Street' : session[:address]
  - session[:zipcode].blank? ? session[:zipcode] = '02108' : session[:zipcode]
  - session[:grade_level].blank? ? session[:grade_level] = 'K1' : session[:grade_level]
  = form_tag('/schools', :method => :get) do
    = hidden_field_tag 'view', 'list'
    %table.search
      %tr
        %td.right Address:
        %td= text_field_tag :address, session[:address], :class => 'address'
      %tr
        %td.right Zipcode:
        %td= text_field_tag :zipcode, session[:zipcode], :class => 'zipcode'
      %tr
        %td.right Grade Level:
        %td= select_tag :grade_level, options_from_collection_for_select(GradeLevel.all, :number, :number, :selected => session[:grade_level])
      %tr
        %td.right Sibling School:
        %td= select_tag :sibling_school, options_from_collection_for_select(School.all(:order => 'name'), :id, :name, :selected => session[:sibling_school]), :include_blank => true
      %tr
        %td &nbsp;
        %td= submit_tag "Search"
        
%div.clear-both.italic
  == *Please note that this tool cannot be used to register a student; it is intended only to support your efforts to learn about your options. Visit #{link_to 'www.bostonpublicschools/register', 'http://www.bostonpublicschools/register'} for more on school registration.