%td.tabbable.transportation.large.hidden
  - if @grade_level.name == "High"
    =raw school.eligibility =~ /Walk Zone/ ? "#{image_tag('walking.png', :class=> 'transportation-icon')} Walking" : "#{image_tag('city-bus.png', :class=> 'transportation-icon')} MBTA"
  - else
    =raw school.eligibility =~ /Walk Zone/ ? "#{image_tag('walking.png', :class=> 'transportation-icon')}&nbsp;Walking" : "#{image_tag('school-bus.png', :class=> 'transportation-icon')}&nbsp;School Bus"
%td.tabbable.transportation.hidden.larger
  =raw school.distance.present? ? "#{distance_in_miles_from_meters(school.distance)} <span class='small'>mi</span>" : '&nbsp;'
%td.tabbable.transportation.hidden.larger
  - if school.eligibility =~ /Walk Zone/
    =raw school.distance.present? ? "#{walk_time(school.distance)} <span class='small'>min</span>" : '&nbsp;'
  - else
    &nbsp;
%td.tabbable.transportation.hidden.larger
  =raw school.distance.present? ? "#{drive_time(school.distance)} <span class='small'>min</span>" : '&nbsp;'
  