%table#favorite-schools.listings
  %tr{:id=>"favorite_school_#{school.id}", :class => 'yellow-background'}
    %td.handle
      = image_tag('handle.png')
    %td.favorite_number_column.bold.right
      = counter            
    %td.medium-image-column
      = image_tag(school.image.url(:small), :class => 'rounded-corners')          
    %td.title_column
      %h3.bold= school.name
      %span.italic
        == #{school.address}, #{school.city.try(:name)}
    %td{:width=>'200'} &nbsp;
    %td.large
      - if school.phone.present?
        %br/
        %span.bold
          Call Today:&nbsp;
        = school.phone