= form_for @school do |f|
  -if @school.errors.any?
    #error_explanation
      %h2= "#{pluralize(@school.errors.count, "error")} prohibited this school from being saved:"
      %ul
        - @school.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :features
    = f.text_area :features
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :city_id
    = f.number_field :city_id
  .field
    = f.label :state_id
    = f.number_field :state_id
  .field
    = f.label :zipcode
    = f.text_field :zipcode
  .field
    = f.label :lat
    = f.text_field :lat
  .field
    = f.label :lng
    = f.text_field :lng
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :fax
    = f.text_field :fax
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :assignment_zone_id
    = f.number_field :assignment_zone_id
  .field
    = f.label :cluster_id
    = f.number_field :cluster_id
  .field
    = f.label :school_group_id
    = f.number_field :school_group_id
  .field
    = f.label :start_grade
    = f.text_field :start_grade
  .field
    = f.label :end_grade
    = f.text_field :end_grade
  .field
    = f.label :start_time
    = f.text_field :start_time
  .field
    = f.label :end_time
    = f.text_field :end_time
  .field
    = f.label :early_dismissal_time
    = f.text_field :early_dismissal_time
  .field
    = f.label :breakfast
    = f.text_field :breakfast
  .field
    = f.label :lunch
    = f.text_field :lunch
  .field
    = f.label :dinner
    = f.text_field :dinner
  .field
    = f.label :principal_id
    = f.number_field :principal_id
  .actions
    = f.submit 'Save'
