#sidebar
  #nav
    %h3.bold
      Map View
    = link_to static_schools_map(150, 125), schools_path(search_params(:view => 'map')), :class => 'sidebar-nav'

  #mypicks
    = render :partial => 'favorites'
    
= render :partial => 'layouts/navigation'

#left-column    
  #page
    %h2.bold
      %span.small.nobold.italic
        == Eligible Schools for:&nbsp;
      == #{@street_number} #{@street_name.try(:titleize)}, #{@geocoded_address.city}, #{@geocoded_address.state} / Grade #{session[:grade_level]}
      %span.smaller.nobold
        == &nbsp;#{link_to 'Search Again', page_path('home'), :id => 'search_again'}
    
    .notes.rounded-corners
      = image_tag('icons/lightbulb.png')
      &nbsp;Below are your eligible schools. Click the 'Views' buttons to see more information, or click the column headings to sort the listings.  You can also view your eligible schools on a map by clicking the map icon at right.
    
    %ul#table-nav
      %li Views: 
      %li= link_to 'Overview', switch_tab_schools_path(:tab => 'overview'), :remote => true, :id => 'overview-tab'
      %li= link_to 'Transportation', switch_tab_schools_path(:tab => 'transportation'), :remote => true, :id => 'transportation-tab'
      - if @all_schools.map {|x| x.grade(params[:grade_level]).try(:mcas_ela_advanced) }.try(:compact).present?
        %li= link_to 'Academics', switch_tab_schools_path(:tab => 'academics'), :remote => true, :id => 'academics-tab'
      - if @all_schools.map {|x| x.grade(params[:grade_level]).try(:open_seats) }.try(:compact).present?
        %li= link_to 'Admissions', switch_tab_schools_path(:tab => 'admissions'), :remote => true, :id => 'admissions-tab'
      
    %table#visible-schools.listings.sortable
      %thead
        %tr
          %th.icon_column &nbsp;
          %th.title_column.sorttable School Name
          %th.eligibility_column.tabbable.overview Eligibility<span id="sorttable_sortfwdind">&nbsp;▾</span>
          %th.tabbable.overview.sorttable Transit
          %th.tabbable.overview.sorttable_numeric Distance
          %th.tabbable.overview.sorttable 2011 Hours

          %th.tabbable.transportation.hidden.sorttable Transportation Eligibility
          %th.tabbable.transportation.hidden.sorttable_numeric Distance
          %th.tabbable.transportation.hidden.sorttable_numeric Walk Time*
          %th.tabbable.transportation.hidden.sorttable_numeric Drive Time*

          %th.tabbable.academics.hidden Teachers†
          %th.tabbable.academics.hidden Students†
          %th.tabbable.academics.hidden MCAS English Percentile†
          %th.tabbable.academics.hidden MCAS Math Percentile†

          %th.tabbable.admissions.hidden Open Seats†
          %th.tabbable.admissions.hidden 1st Choices†
          %th.tabbable.admissions.hidden 2nd Choices†
          %th.tabbable.admissions.hidden 3rd Choices†
          %th.tabbable.admissions.hidden.sorttable_numeric Applicants per Open Seat†

          %th{:width=>'50px'} &nbsp;
          %th{:width=>'50px'} &nbsp;

      %tbody
        - if @all_schools.present?
          - @all_schools.each do |school|
            - if session[:favorites].try(:include?, school.id)
              = render :partial => 'schools/school_row', :locals => {:school => school, :row_classes => 'favorited'}
            - else
              = render :partial => 'schools/school_row', :locals => {:school => school, :row_classes => ''}

    %table#download_links
      %tr
        %td{:width=>'24px'}
          == #{raw link_to image_tag('icons/icon_PDF_big.png', :class => 'pdf_icon'), schools_path(:address => params[:address], :zipcode => params[:zipcode], :grade_level => params[:grade_level], :sibling_school => params[:sibling_school], :format => :pdf)} 
        %td{:style => "font-weight: bold; padding: 0;"}
          == #{link_to 'Download PDF', schools_path(:address => params[:address], :zipcode => params[:zipcode], :grade_level => params[:grade_level], :sibling_school => params[:sibling_school], :format => :pdf)}

    #footnotes.italic.small
      * Walk times and drive times are estimates, only.
      %br/
      † Historical data are from the previous school year, unless otherwise noted.
        
  = render :partial => 'layouts/page_footer'

%script
  $(document).ready(function() {
  var yOffset = $("#sidebar").offset().top - 40;
  $(window).scroll(function() {
  if ($(window).scrollTop() > yOffset) {
  $("#sidebar").css({
  'top': 0,
  'position': 'fixed'
  });
  } else {
  $("#sidebar").css({
  'top': yOffset + 'px',
  'position': 'absolute'
  });
  }
  });
  });
      
