#left-column
  %strong
    = link_to "List View", schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], view: 'list'), :class => 'small-button-active'
    = link_to "Map View", schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], view: 'map'), :class => 'small-button'
  
  #small-map
    - if @geocoded_address.present?
      = link_to static_gmap_image, schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], view: 'map')
  
  %span.large.bold
    Filter Search Results
  = form_tag('/schools', :method => :get) do
    = hidden_field_tag :address, params[:address]
    = hidden_field_tag :zipcode, params[:zipcode]
    = hidden_field_tag :grade_level, params[:grade_level]
    Eligibility Type:
    %br/
    = select_tag :eligibility_type, options_for_select(['All', 'Walk Zone', 'Assignment Zone', 'Citywide'])
    %br/
    School Type:
    %br/
    = select_tag :school_type, options_for_select(['All', 'English Language Center', 'Examination School', 'Special Education', 'High School'])
    %br/
    Facilities:
    %br/
    = check_box_tag :facility
    Gym
    %br/
    = check_box_tag :facility
    Pool
    %br/
    = check_box_tag :facility
    Theater
    %br/
    = check_box_tag :facility
    Courtyard
    %br/
    %br/
    = submit_tag "Update Results"
#right-column
  = render :partial => 'listings_table'
      
