#right-column
  #inner-right-column
    %h2 My Picks
    = render :partial => 'favorites'
        
#left-column
  #table-nav
    = link_to 'Overview', switch_tab_schools_path(:tab => 'overview'), :remote => true, :id => 'overview-tab', :class => 'table-nav active'
    = link_to 'Transportation', switch_tab_schools_path(:tab => 'transportation'), :remote => true, :id => 'transportation-tab', :class => 'table-nav'
    = link_to 'Academics', switch_tab_schools_path(:tab => 'academics'), :remote => true, :id => 'academics-tab', :class => 'table-nav'
    - if @all_schools.map {|x| x.grade(params[:grade_level]).open_seats }.try(:compact).try(:present?)
      = link_to 'Admissions', switch_tab_schools_path(:tab => 'admissions'), :remote => true, :id => 'admissions-tab', :class => 'table-nav'
  #logo
    = image_tag('logo-gray.png')
    
  #page
    %h1.bold
      %span.small.nobold.italic
        == Eligible Schools for:&nbsp;
      == #{@geocoded_address.street_address}, #{@geocoded_address.city}, #{@geocoded_address.state} / Grade #{session[:grade_level]}
  
    = render :partial => 'schools/table/table'
    
%script
  $(document).ready(function() {
  var yOffset = $("#right-column").offset().top - 40;
  $(window).scroll(function() {
  if ($(window).scrollTop() > yOffset) {
  $("#right-column").css({
  'top': 0,
  'position': 'fixed'
  });
  } else {
  $("#right-column").css({
  'top': yOffset + 'px',
  'position': 'absolute'
  });
  }
  });
  });
      
