%tr
  %td{:width=>'20px'}= image_tag("#{color}-marker-medium.png")
  %td
    %h4= school.name
  %td{:width=>'60px'}
    - unless school.grades.blank?
      = school.grades
  %td{:width=>'100px'}
    = school.school_type_name
  - if school.try(:distance).present?
    %td{:width=>'60px'}
      == #{distance_in_miles_from_meters(school.distance)} mi.
    %td{:width=>'60px'}
      == #{walk_time(school.distance)} min.