.full-width
  %h2== Results for: &nbsp;#{@geocoded_address.street_address} #{@geocoded_address.city}, #{@geocoded_address.state}

#left-column
  = link_to "List View", schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], :sibling_school => params[:sibling_school], view: 'list'), :class => 'nav mid active'
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  = link_to "Map View", schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], :sibling_school => params[:sibling_school], view: 'map'), :class => 'nav mid'
  
  #small-map
    - if @geocoded_address.present?
      = link_to static_gmap_image, schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], view: 'map')
  
  %p.large.bold
    Filter Results
  %br/
  = form_tag('/schools', :method => :get) do
    = hidden_field_tag :address, params[:address]
    = hidden_field_tag :zipcode, params[:zipcode]
    = hidden_field_tag :grade_level, params[:grade_level]
    Eligibility Type:
    %br/
    = select_tag :eligibility_type, options_for_select(['All', 'Walk Zone', 'Assignment Zone', 'Citywide'])
    %br/
    School Type:
    %br/
    = select_tag :school_type, options_for_select(['All', 'English Language Center', 'Examination School', 'Special Education', 'High School'])
    %br/
    %br/
    = submit_tag "Update Results"
        
#right-column
  #table-nav
    = link_to 'Overview', switch_tab_schools_path(:tab => 'overview'), :remote => true, :class => 'nav sub'
    &nbsp;|&nbsp;
    = link_to 'Transportation', switch_tab_schools_path(:tab => 'transportation'), :remote => true, :class => 'nav sub'
    &nbsp;|&nbsp;
    = link_to 'Academics', switch_tab_schools_path(:tab => 'academics'), :remote => true, :class => 'nav sub'
    &nbsp;|&nbsp;
    = link_to 'Admissions', switch_tab_schools_path(:tab => 'admissions'), :remote => true, :class => 'nav sub'
    
  #listings-table
    = render :partial => 'schools/table'
      
