#header
  &nbsp;

#left-column
  #left-column-nav
    %span.sidebar-nav.active
      List View
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    = link_to "Map View", schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], :sibling_school => params[:sibling_school], view: 'map'), :class => 'sidebar-nav'
  #inner-left-column
    #small-map
      - if @geocoded_address.present?
        = link_to static_gmap_image, schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], view: 'map')
    %h3 Filter Results
    %br/
    %p Filter
    %p Filter
    %p Filter
    %p Filter
    %p Filter
    %p Update Results
        
#right-column
  #table-nav
    = link_to 'Overview', switch_tab_schools_path(:tab => 'overview'), :remote => true, :id => 'overview-tab', :class => 'table-nav active'
    = link_to 'Transportation', switch_tab_schools_path(:tab => 'transportation'), :remote => true, :id => 'transportation-tab', :class => 'table-nav'
    = link_to 'Academics', switch_tab_schools_path(:tab => 'academics'), :remote => true, :id => 'academics-tab', :class => 'table-nav'
    = link_to 'Admissions', switch_tab_schools_path(:tab => 'admissions'), :remote => true, :id => 'admissions-tab', :class => 'table-nav'
    
  #page
    %h2== Results for: &nbsp;#{@geocoded_address.street_address} #{@geocoded_address.city}, #{@geocoded_address.state}
    = render :partial => 'schools/table/table'
      
