#sidebar
  #nav
    %h3.bold
      = link_to "List View", schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], :sibling_school => params[:sibling_school], view: 'list', :class => 'sidebar-nav')
  #mypicks
    = render :partial => 'favorites'
      
#left-column
  #page
    %h2.bold
      %span.small.nobold.italic
        Eligible Schools for:&nbsp;
      == #{@geocoded_address.street_address}, #{@geocoded_address.city}, #{@geocoded_address.state} / Grade #{params[:grade_level]}
      %span.smaller.nobold
        == &nbsp;#{link_to 'Search Again', page_path('home')}
    
    .notes.rounded-corners
      = image_tag('icons/lightbulb.png')
      == &nbsp;Below is a map of your eligible schools. The yellow shape represents the #{@assignment_zone.name} Assignment Zone; the green circle represents your walk zone; the flags represent your eligible schools. Click the flags on the map or the school name at right to learn more.  Click the 'List View' button to return to the previous page.    
    #map
      #map-container
        = walk_zone_map
      #map-list
        #options
          <ul id="markers_list"></ul>
    .clear-both
      %ul.horizontal-list
        %li
          = image_tag('red-marker-medium.png')
          Hidden Gem &nbsp;
        %li
          = image_tag('green-marker-medium.png')
          Walk Zone School &nbsp;
        %li
          = image_tag('yellow-marker-medium.png')
          Assignment Zone School &nbsp;
        %li
          = image_tag('gray-marker-medium.png')
          Citywide School
      
  = render :partial => 'layouts/page_footer'
  
