#right-column
  #left-column-nav
    = link_to "List View", schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], view: 'list'), :class => 'sidebar-nav'
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    %span.sidebar-nav.active
      Map View
  #inner-left-column
    #map-list
      %h4 Eligible Schools
      #options
        <ul id="markers_list"></ul>
      
#left-column
  #table-nav
    &nbsp;
  #page
    #map-container
      %h1.bold
        %span.small.nobold
          Results for:&nbsp;
        == #{@geocoded_address.street_address}, #{@geocoded_address.city}, #{@geocoded_address.state} / Grade #{params[:grade_level]}
      = walk_zone_map