#header
  &nbsp;

#left-column
  #left-column-nav
    = link_to "List View", schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], view: 'list'), :class => 'sidebar-nav'
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    %span.sidebar-nav.active
      Map View
  #inner-left-column
    #map-list
      %h4 Eligible Schools
      #options
        <ul id="markers_list"></ul>
      
#right-column
  #table-nav
    &nbsp;
  #page
    #map-container
      %h2== Results for: &nbsp;#{@geocoded_address.street_address} #{@geocoded_address.city}, #{@geocoded_address.state}
      = walk_zone_map