#sidebar
  #nav
    %h3
      = link_to "List View", schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], :sibling_school => params[:sibling_school], view: 'list', :class => 'sidebar-nav')
  #mypicks
    = render :partial => 'favorites'
      
#left-column
  #page
    %h2.bold
      %span.small.nobold.italic
        Eligible Schools for:&nbsp;
      == #{@geocoded_address.street_address}, #{@geocoded_address.city}, #{@geocoded_address.state} / Grade #{params[:grade_level]}
    #map
      #map-container
        = walk_zone_map
      #map-list
        #options
          <ul id="markers_list"></ul>
    .clear-both
      %ul.horizontal-list
        %li
          = image_tag('green-marker-medium.png')
          Walk Zone School &nbsp;
        %li
          = image_tag('yellow-marker-medium.png')
          Assignment Zone School &nbsp;
        %li
          = image_tag('gray-marker-medium.png')
          Citywide School
      
  #page-footer
    = image_tag('cfa_logo.png')
