=raw walk_zone_results_title(params)
- if @walk_zone_schools.present?
  - @walk_zone_schools.each do |school|
    %div{:class=>cycle("school-listing odd", "school-listing even")}
      %table
        %tr
          %td
            %table
              %tr
                %td{:colspan=>"9"}
                  %h3= school.name
              %tr
                %td{:width=>'250px'}
                  = school.address
                  %br/
                  == #{school.city.name}, #{school.state.abbreviation} #{school.zipcode}
                  - unless school.phone
                    %br/
                    == Phone: #{school.phone}
                  - unless school.fax
                    %br/
                    == Fax: #{school.fax}
                  - unless school.website.blank?
                    %br/
                    = link_to "Website", school.website
                %td{:width=>'250px'}
                  - unless school.assignment_zone.blank?
                    = school.assignment_zone.name
                  - unless school.school_type.blank?
                    %br/
                    = school.school_type.name
                  - unless school.school_group.blank?
                    %br/
                    = school.school_group.name
                  - unless school.grades.blank?
                    %br/
                    = school.grades
                  - unless school.hours.blank?
                    %br/
                    = school.hours
                  - unless school.early_dismissal_time.blank?
                    %br/
                    = school.early_dismissal_time
                %td
                  Distance: 
                  = school.distance[0..3]
                  mi
