%h2== Walk Zone Schools near #{@location.street_address}, #{@location.city}, #{@location.state} <span class='small nobold'>&nbsp;(#{@walk_zone_schools.size} results)</span>
%p.italic== Fifty percent of each school’s seats are set aside for applicants with walk zone priority. Students have walk zone priority if they live approximately #{@walk_zone.distance} miles or less from the #{params[:grade_level]}. The walk zone for your address is represented by the green circle above.

- if @walk_zone_schools.present?
  - @walk_zone_schools.each do |school|
    %div{:class=>cycle("school-listing odd", "school-listing even")}
      %table
        %tr
          %td
            %table
              %tr
                %td{:colspan=>"9"}
                  %h3= link_to school.name, school_path(school)
              %tr
                %td{:width=>'250px'}
                  = school.address
                  %br/
                  == #{school.city.name}, #{school.state.abbreviation} #{school.zipcode}
                  - unless school.phone
                    %br/
                    == Phone: #{school.phone}
                  - unless school.fax
                    %br/
                    == Fax: #{school.fax}
                  - unless school.website.blank?
                    %br/
                    = link_to "Website", school.website
                %td{:width=>'250px'}
                  - unless school.assignment_zone.blank?
                    = school.assignment_zone.name
                    %br/
                  - unless school.school_type.blank?
                    = school.school_type.name
                    %br/
                  - unless school.school_group.blank?
                    = school.school_group.name
                    %br/
                  - unless school.grades.blank?
                    = school.grades
                    %br/
                  - unless school.hours.blank?
                    = school.hours
                    %br/
                  - unless school.early_dismissal_time.blank?
                    = school.early_dismissal_time
                    %br/
                %td
                  Distance: 
                  = school.distance[0..3]
                  mi