- if @walk_zone.present?
  = gmaps("markers" => {"data" => @markers_json}, "circles" => {"data" => @walk_zone_json }, "polygons" => {"data" => @assignment_zone_json, "options" => { "fillColor" => "#ffff00", "fillOpacity" => 0.35, "strokeColor" => "#000000", "strokeWeight" => 1.5, 'strokeOpacity' => 0.5 }}, "map_options" => { "provider" => "googlemaps", "auto_adjust" => true })
- else
  = gmaps("polygons" => {"data" => @assignment_zones_json, "options" => { "fillColor" => "#ffff00", "fillOpacity" => 0.4, "strokeColor" => "#000000", "strokeWeight" => 1.5, 'strokeOpacity' => 0.5 }}, "map_options" => { "provider" => "googlemaps", "auto_adjust" => false, "center_latitude" => @location.lat, "center_longitude" => @location.lng, "zoom" => 11 })

#search-form
  = form_tag('/schools', :method => :get) do
    Your address:&nbsp;
    = text_field_tag :address, "#{address_helper}", :width => 100
    &nbsp;Grade level:&nbsp;
    = select_tag :grade_level, options_for_select(['Elementary School', "Middle School", "High School"], :selected => params[:grade_level])
    = submit_tag "Search"

#page
  =raw search_message(params)
  - if @walk_zone_schools.present?
    = render :partial => 'walk_zone_schools'
  - if @assignment_zone_schools.present?
    = render :partial => 'assignment_zone_listings'
  - if @walk_zone_schools.blank? && @assignment_zone_schools.blank?
    %h2 Welcome to the School Discovery App
    %p This tool allows parents and guardians to search for eligible shools in the Boston Public School system. &nbsp;Simply enter your home address and the grade level, above, and we'll show you the schools to which your child can apply. 