- if params[:view] == 'list'
  #page
    - if @geocoded_address.present?
      %h3
        == #{@geocoded_address.full_address.gsub(/, USA/, '')} &nbsp; Grade: #{params[:grade_level]} 
        %span.small
          == &nbsp;&nbsp; #{link_to "Search Again", root_url({:address => params[:address], :zipcode => params[:zipcode], :grade_level => params[:grade_level]})}
          == &nbsp;&nbsp; #{link_to "Map View", schools_path({:address => params[:address], :zipcode => params[:zipcode], :grade_level => params[:grade_level]})}
    - if @all_schools.present?
      = render :partial => 'listings', :locals => {:schools => @all_schools, :template => 'citywide'}
  
- else
  #page
    - if @grade_level.present?
      #above-map
        %h3
          == #{@geocoded_address.full_address.gsub(/, USA/, '')} &nbsp; Grade: #{params[:grade_level]} 
          %span.small
            == &nbsp;&nbsp; #{link_to "Search Again", root_url({:address => params[:address], :zipcode => params[:zipcode], :grade_level => params[:grade_level]})}
            == &nbsp;&nbsp; #{link_to "List View", schools_path({:address => params[:address], :zipcode => params[:zipcode], :grade_level => params[:grade_level], :view => 'list'})}
      = walk_zone_map
      #map-list
        %h4 Your Eligible Schools
        #options
          <ul id="markers_list"></ul>
        #legend
          =raw map_legend
      
    - else
      %h2 Welcome to the School Discovery App
      %p.large To get started, please enter your home address and your child's upcoming grade level in the search form, below.
      =raw alert_message
      = render :partial => 'pages/search_form'
    
    <div id="page-footer"></div>
  