- if @circle.present?
  = gmaps("circles" => {"data" => @circle}, "markers" => {"data" => @markers}, "map_options" => { "provider" => "googlemaps", "center_latitude" => @location.lat, "center_longitude" => @location.lng, "zoom" => 13, "auto_adjust" => false })
- else
  = gmaps("markers" => {"data" => @markers}, "map_options" => { "provider" => "googlemaps", "auto_adjust" => true })

#search-form
  = form_tag('/schools', :method => :get) do
    Your address:&nbsp;
    = text_field_tag :address, params[:address], :width => 100
    &nbsp;School Level:&nbsp;
    = select_tag :grade_level, options_for_select(['All Schools', 'Elementary School', "Middle School", "High School"], :selected => params[:grade_level])
    = submit_tag "Search"

#page  
  - if @walk_zone_schools.present?
    = render :partial => 'walk_zone_listings'
    %br/
  - elsif params[:address].present?
    %h4.red We couldn't find that address &mdash; please try again
    %br/
  = render :partial => 'normal_listings'
