- if @grade_level.present?
  = walk_zone_map
- else
  = default_map

#search-form
  = form_tag('/schools', :method => :get) do
    Address:&nbsp;
    = text_field_tag :address, params[:address], :class => 'address'
    Zipcode:&nbsp;
    = text_field_tag :zipcode, params[:zipcode], :class => 'zipcode'
    &nbsp;Grade level:&nbsp;
    = select_tag :grade_level, options_from_collection_for_select(@grade_levels, :number, :number, :selected => params[:grade_level])
    = submit_tag "Search"

#page
  =raw alert_message
  
  - if @walk_zone_schools.blank? && @assignment_zone_schools.blank? && @citywide_schools.blank?
    = render :partial => "welcome"
  - else
    - if @walk_zone_schools.present?
      = render :partial => "walk_zone_listings"
    - if @assignment_zone_schools.present?
      = render :partial => "assignment_zone_listings"
    - if @citywide_schools.present?
      = render :partial => "citywide_listings"