- if @geocode.present? && @grade_level.blank?
  #left-column    
    #page
      <div class='alert'>The address you entered could not be located within the Boston School District. Please try again.</div>
      = render :partial => 'pages/search_form'
    = render :partial => 'layouts/page_footer'
- elsif (params[:address].present? || params[:zipcode].present?) && @geocode.blank?
  #left-column    
    #page
      <div class='alert'>We couldn't locate that address &mdash; please try again.</div>
      = render :partial => 'pages/search_form'
    = render :partial => 'layouts/page_footer'
- elsif params[:address].blank? && params[:zipcode].blank? && params[:grade_level].present?
  #left-column    
    #page
      <div class='alert'>Please enter an address and zipcode to see your eligible schools.</div>
      = render :partial => 'pages/search_form'
    = render :partial => 'layouts/page_footer'
- elsif params[:view] == 'map'
  = render :partial => 'map_view'  
- elsif
  = render :partial => 'list_view'  