- if @walk_zone.present?
  = gmaps("markers" => {"data" => @markers_json}, "circles" => {"data" => @walk_zone_json }, "polygons" => {"data" => @assignment_zone_json, "options" => { "fillColor" => "#ffff00", "fillOpacity" => 0.35, "strokeColor" => "#000000", "strokeWeight" => 1.5, 'strokeOpacity' => 0.6 }}, "map_options" => { "provider" => "googlemaps", "auto_adjust" => true })
- else
  = gmaps("markers" => {"data" => @markers}, "polygons" => {"data" => @assignment_zones_json, "options" => { "fillColor" => "#ffff00", "fillOpacity" => 0.35, "strokeColor" => "#000000", "strokeWeight" => 1.5, 'strokeOpacity' => 0.6 }}, "map_options" => { "provider" => "googlemaps", "auto_adjust" => true })

#search-form
  = form_tag('/schools', :method => :get) do
    Your address:&nbsp;
    = text_field_tag :address, params[:address], :width => 100
    &nbsp;Grade level:&nbsp;
    = select_tag :grade_level, options_for_select(['Elementary School', "Middle School", "High School"], :selected => params[:grade_level])
    = submit_tag "Search"

#page
  =raw search_message(params)
  - if @walk_zone_schools.present?
    = render :partial => 'walk_zone_schools'
  - if @assignment_zone_schools.present?
    = render :partial => 'assignment_zone_listings'
  - if @walk_zone_schools.blank? && @assignment_zone_schools.blank?
    %h2 Welcome to the BPS School Discovery App
    %p This tool will allow you to search for schools that meet your personal criteria and to which your child is also eligible to apply.To get started, please enter your address and grade level, above.