- if @school.eligibility =~ /Walk Zone/
  %div.bold.large.center.green-background
    This school is in your Walk Zone and qualifies for priority selection status

%h1.bold= @school.name
=raw @school.description

%table.no-bottom-margin
  %tr
    %td.align-top.medium{:width=>'290'}
      %p
        - if @school.eligibility =~ /Walk Zone/
          = link_to static_school_map(280, 210, '53e200'), schools_path(:address => session[:address], :zipcode => session[:zipcode], :grade_level => session[:grade_level], :view => 'map')
        - elsif @school.eligibility =~ /Assignment Zone/
          = link_to static_school_map(280, 210, 'fcef08'), schools_path(:address => session[:address], :zipcode => session[:zipcode], :grade_level => session[:grade_level], :view => 'map')
        - else
          = link_to static_school_map(280, 210, 'c8c8c8'), schools_path(:address => session[:address], :zipcode => session[:zipcode], :grade_level => session[:grade_level], :view => 'map')

      - if @school.address.present?
        == #{@school.address}, #{@school.city.try(:name)} MA, #{@school.zipcode}
        %br/
      - if @school.phone.present?
        %strong
          Phone:&nbsp;
        = @school.phone
        %br/
      - if @school.fax.present?
        %strong
          Fax:&nbsp;
        = @school.fax
        %br/
      - if @school.website.present?
        %br/
        = link_to "School Website", @school.website
        %br/
        
      - if @school.hours.present?
        %br/
        %strong
          Hours:&nbsp;
        = @school.hours
    
    %td.align-top
      %table.small-bottom-margin.gray-background
        %thead
          %tr
            %th Transportation Eligibility
            %th Distance
            - if @school.eligibility =~ /Walk Zone/
              %th Walk Time*
            %th Drive Time*
        %tbody
          %tr
            %td.large
              - if @grade_level.name == "High"
                =raw @school.eligibility =~ /Walk Zone/ ? "#{image_tag('walking.png', :class=> 'transportation-icon')}&nbsp;Walking" : "#{image_tag('city-bus.png', :class=> 'transportation-icon')}&nbsp;MBTA"
              - else
                =raw @school.eligibility =~ /Walk Zone/ ? "#{image_tag('walking.png', :class=> 'transportation-icon')}&nbsp;Walking" : "#{image_tag('school-bus.png', :class=> 'transportation-icon')}&nbsp;School Bus"
            %td.large
              =raw @school.distance.present? ? "#{distance_in_miles_from_meters(@school.distance)} <span class='small'>mi</span>" : '&nbsp;'
            - if @school.eligibility =~ /Walk Zone/
              %td.large
                =raw @school.distance.present? ? "#{walk_time(@school.distance)} <span class='small'>min</span>" : '&nbsp;'
              - else
                &nbsp;
            %td.large
              =raw @school.distance.present? ? "#{drive_time(@school.distance)} <span class='small'>min</span>" : '&nbsp;'

      %table.small-bottom-margin
        %thead
          %tr
            %th Teachers†
            %th Students†
            %th Staff : Student Ratio†
        %tr
          %td.large
            =raw @school.teachers_count.present? ? @school.teachers_count : '&nbsp;'
          %td.large
            =raw @school.students_count.present? ? @school.students_count : '&nbsp;'
          %td.large
            =raw @school.staff_to_student_ratio.present? ? @school.staff_to_student_ratio : '&nbsp;'
      
      - if @school.grade(session[:grade_level]).try(:open_seats).try(:present?)
        %table.small-bottom-margin.gray-background
          %thead
            %tr
              %th Open Seats†
              %th 1st Choices†
              %th 2nd Choices†
              %th 3rd Choices†
              %th Demand†
          %tr
            - grade = @school.grade(session[:grade_level])
            %td.large
              =raw grade.try(:open_seats) ? grade.open_seats : '&nbsp;'
            %td.large
              =raw grade.try(:first_choice) ? grade.first_choice : '&nbsp;'
            %td.large
              =raw grade.try(:second_choice) ? grade.second_choice : '&nbsp;'
            %td.large
              =raw grade.try(:third_choice) ? grade.third_choice : '&nbsp;'
            %td.large
              =raw grade.try(:total_choices) ? "#{number_with_precision(grade.demand, :precision => 0)}%" : '&nbsp;'
              
      .favorites-button.right
        - if session[:favorites].try(:include?, @school.id)
          %h3.bold
            = image_tag('icons/delete.png')
            = link_to "Remove from Favorites", unfavorite_school_path(@school.id, address: session[:address], zipcode: session[:zipcode], grade_level: session[:grade_level]), :remote => true, :method => :post
        - else
          %h3.bold
            = image_tag('star.png')
            = link_to "Add to My Favorites", favorite_school_path(@school.id, address: session[:address], zipcode: session[:zipcode], grade_level: session[:grade_level]), :remote => true, :method => :post
