#sidebar
  #mypicks
    = render :partial => 'favorites'

= render :partial => 'layouts/navigation' 
#left-column
  #page
    - if @school.id.to_s == session[:sibling_school]
      #flash.bold.large.center.yellow-background
        This school qualifies for Sibling Priority
    - if @school.eligibility =~ /Walk Zone/
      #flash.bold.large.center.green-background
        This school qualifies for Walk Zone Priority
    - if @school.special_admissions?
      #flash.bold.large.center
        This school requires special admissions

    %h1.bold= @school.name
  
    %table.no-bottom-margin
      %tr
        %td.align-top.medium{:width=>'290'}
          = link_to image_tag(static_school_map(280, 210, @map_flag_color), :alt => "Map View", :class => 'static-map-image'), schools_path(search_params(:view => 'map'))

          - if @school.address.present?
            == #{@school.address}, #{@school.city.try(:name)} MA, #{@school.zipcode}
            %br/
          - if @school.phone.present?
            %strong
              Phone:&nbsp;
            = @school.phone
            %br/
          - if @school.fax.present?
            %strong
              Fax:&nbsp;
            = @school.fax
            %br/
          - if @school.website.present?
            %br/
            = link_to "School Website", @school.website
            %span.external_link
              = image_tag('icons/external-link.png')
            %br/
          - if @school.email.present?
            = mail_to @school.email, @school.email
            %br/
          - if @school.grade(session[:grade_level]).try(:hours).try(:present?)
            %br/
            %span.bold
              Hours:
            = @school.grade(session[:grade_level]).try(:hours)
            %br/
          - if @school.surround_care_hours.present?
            %br/
            %span.bold
              Surround Care:
            = @school.surround_care_hours

          = render :partial => 'schools/favorite_text_button', :locals => {:school => @school}
          
          %table#download_links
            %tr
              %td{:width=>'24px'}
                == #{raw link_to image_tag('icons/icon_PDF_big.png', :class => 'pdf_icon'), school_path(@school.permalink, :address => params[:address], :zipcode => params[:zipcode], :grade_level => params[:grade_level], :sibling_school => params[:sibling_school], :format => :pdf)}                  
              %td{:style => "font-weight: bold; padding: 0;"}
                == #{link_to 'Download PDF', school_path(@school.permalink, :address => params[:address], :zipcode => params[:zipcode], :grade_level => params[:grade_level], :sibling_school => params[:sibling_school], :format => :pdf)}

        %td.align-top
          - if @school.description.present?
            .gray-background
              %h4.bold Introduction
            %span.medium
              = simple_format(@school.description)
          %table
            .gray-background
              %h4.bold Transportation
            %thead
              %tr
                %th Transportation Eligibility
                %th Distance
                - if @school.eligibility =~ /Walk Zone/
                  %th Walk Time*
                %th Drive Time*
            %tbody
              %tr
                %td.large
                  - if @grade_level.name == "High"
                    =raw @school.eligibility =~ /Walk Zone/ ? "#{image_tag('walking.png')}&nbsp;Walking" : "#{image_tag('city-bus.png')}&nbsp;MBTA"
                  - else
                    =raw @school.eligibility =~ /Walk Zone/ ? "#{image_tag('walking.png', :class=> 'transportation-icon')}&nbsp;Walking" : "#{image_tag('school-bus.png', :class=> 'transportation-icon')}&nbsp;School Bus"
                %td.large
                  =raw @school.distance.present? ? "#{distance_in_miles_from_meters(@school.distance)} <span class='small'>mi</span>" : '&nbsp;'
                - if @school.eligibility =~ /Walk Zone/
                  %td.large
                    =raw @school.distance.present? ? "#{walk_time(@school.distance)} <span class='small'>min</span>" : '&nbsp;'
                  - else
                    &nbsp;
                %td.large
                  =raw @school.distance.present? ? "#{drive_time(@school.distance)} <span class='small'>min</span>" : '&nbsp;'

      
          - grade = @school.grade(session[:grade_level])
          - if grade.try(:mcas_ela_total).present?
            %table
              .gray-background
                %h4.bold== MCAS Scores (Grade #{session[:grade_level]})
              %thead
                %tr
                  %th 
                  %th Advanced†
                  %th Proficient†
                  %th Needs Improvement†
                  %th Warning/Failing†
              %tr
                %td.large English
                %td.large
                  =raw grade.mcas_ela_advanced.present? ? number_to_percentage((grade.mcas_ela_advanced * 100), :precision => 0) : '&nbsp;'
                %td.large
                  =raw grade.mcas_ela_proficient.present? ? number_to_percentage((grade.mcas_ela_proficient * 100), :precision => 0) : '&nbsp;'
                %td.large
                  =raw grade.mcas_ela_needsimprovement.present? ? number_to_percentage((grade.mcas_ela_needsimprovement * 100), :precision => 0) : '&nbsp;'
                %td.large
                  =raw grade.mcas_ela_failing.present? ? number_to_percentage((grade.mcas_ela_failing * 100), :precision => 0) : '&nbsp;'
              %tr
                %td.large Math
                %td.large
                  =raw grade.mcas_math_advanced.present? ? number_to_percentage((grade.mcas_math_advanced * 100), :precision => 0) : '&nbsp;'
                %td.large
                  =raw grade.mcas_math_proficient.present? ? number_to_percentage((grade.mcas_math_proficient * 100), :precision => 0) : '&nbsp;'
                %td.large
                  =raw grade.mcas_math_needsimprovement.present? ? number_to_percentage((grade.mcas_math_needsimprovement * 100), :precision => 0) : '&nbsp;'
                %td.large
                  =raw grade.mcas_math_failing.present? ? number_to_percentage((grade.mcas_math_failing * 100), :precision => 0) : '&nbsp;'
      
          - if @school.grade(session[:grade_level]).try(:open_seats).try(:present?)
            %table
              .gray-background
                %h4.bold== Admissions (Grade #{session[:grade_level]})
              %thead
                %tr
                  %th Open Seats†
                  %th 1st Choices†
                  %th 2nd Choices†
                  %th 3rd Choices†
                  %th Applicants per Open Seat†
              %tr
                - grade = @school.grade(session[:grade_level])
                %td.large
                  =raw grade.try(:open_seats) ? grade.open_seats : '&nbsp;'
                %td.large
                  =raw grade.try(:first_choice) ? grade.first_choice : '&nbsp;'
                %td.large
                  =raw grade.try(:second_choice) ? grade.second_choice : '&nbsp;'
                %td.large
                  =raw grade.try(:third_choice) ? grade.third_choice : '&nbsp;'
                %td.large
                  =raw grade.try(:demand) ? "#{number_with_precision(grade.demand, :precision => 0)} : 1" : '&nbsp;'
                
          #footnotes.italic.small
            * Walk times and drive times are estimates, only.
            %br/
            † Historical data are from the previous school year, unless otherwise noted.
            
  = render :partial => 'layouts/page_footer'
