%h2.bold= @school.name

%p
  =raw @school.description

%p
  - if @school.address.try(:present?)
    %br/
    %b Address:&nbsp;
    == #{@school.address} #{@school.city.try(:name)}, MA #{@school.zipcode}
  
  - if @school.phone.try(:present?)
    %br/
    %b Phone:&nbsp;
    = @school.phone
  
  - if @school.fax.try(:present?)
    %br/
    %b Fax:&nbsp;
    = @school.fax
  
  - if @school.website.try(:present?)
    %br/
    %b Website:&nbsp;
    = link_to @school.website
    
  - if @school.assignment_zone.try(:present?)
    %br/
    %b Assignment Zone:&nbsp;
    = @school.assignment_zone.name
  
  - if @school.school_type_name.try(:present?)
    %br/
    %b School Type:&nbsp;
    = @school.school_type_name
  
  - if @school.grade_levels.try(:short_string).try(:present?)
    %br/
    %b Grades:&nbsp;
    = @school.grade_levels.short_string
  
  - if @school.grade(session[:grade_level]).try(:hours).try(:present?)
    %br/
    %b Hours:&nbsp;
    = @school.grade(session[:grade_level]).hours
  
  - if @school.early_dismissal_time.try(:present?)
    %br/
    %b Early Dismissal Time:&nbsp;
    = @school.early_dismissal_time

- if @favorite_schools.try(:include?, @school.id)
  %h3
    == #{image_tag('star-gray.png')}&nbsp;
    = link_to "Remove from My Picks", unfavorite_school_path(@school.id, address: session[:address], zipcode: session[:zipcode], grade_level: session[:grade_level]), :remote => true, :method => :post
- else
  %h3
    == #{image_tag('star.png')}&nbsp;
    = link_to "Add to My Picks", favorite_school_path(@school.id, address: session[:address], zipcode: session[:zipcode], grade_level: session[:grade_level]), :remote => true, :method => :post