%table.listings
  %thead
    %tr
      %th{:width=>'110px'} &nbsp;
      %th &nbsp;
      %th{:width=>'70px'} Grades
      %th{:width=>'70px'} Distance
      %th{:width=>'140px'} Eligibility Type
  %tbody
    - if @all_schools.present?
      - @all_schools.each do |school|
        %tr
          %td
            = link_to image_tag('school.png')
          %td
            %h3= link_to school.name, school_path(school), :rel => 'facebox'
            %span.italic
              == #{school.address}, #{school.city.try(:name)}, #{school.state.try(:abbreviation)}
              %br/
              = school.phone
          %td.large{:width=>'60px'}
            = school.grade_levels.short_string
          %td.large{:width=>'60px'}
            =raw school.distance.present? ? "#{distance_in_miles_from_meters(school.distance)} mi." : '&nbsp;'
          %td.large{:width=>'140px'}
            - if @walk_zone_schools.try(:include?, school)
              - if params[:sibling_school] == school.id.to_s 
                Sibling School
                %br/
              Walk Zone
            - if @assignment_zone_schools.try(:include?, school)
              - if params[:sibling_school] == school.id.to_s 
                Sibling School
                %br/
              Assignment Zone
            - elsif @citywide_schools.try(:include?, school)
              - if params[:sibling_school] == school.id.to_s 
                Sibling School
                %br/
              Citywide