%table.listings
  %thead
    %tr
      %th School Name
      %th{:width=>'60px'} Neighborhood
      %th{:width=>'60px'} Distance
      %th{:width=>'60px'} Walk Time
  %tbody
    - if @walk_zone_schools.present?
      - @walk_zone_schools.each do |school|
        %tr
          %td
            %h4
              = link_to school.name, school_path(school), :rel => 'facebox'
          %td{:width=>'60px'}
            = school.neighborhood.try(:name)
          %td{:width=>'60px'}
            == #{distance_in_miles_from_meters(school.distance)} mi.
          %td{:width=>'70px'}
            == #{walk_time(school.distance)} min.
                            
    - if @assignment_zone_schools.present?
      - @assignment_zone_schools.each do |school|
        %tr
          %td
            %h4
              = link_to school.name, school_path(school), :rel => 'facebox'
          %td{:width=>'60px'}
            = school.neighborhood.try(:name)
          %td{:width=>'60px'}
            == #{distance_in_miles_from_meters(school.distance)} mi.
          %td{:width=>'70px'}
            &nbsp;
                  
    - if @citywide_schools.present?
      - @citywide_schools.each do |school|
        %tr
          %td
            %h4
              = link_to school.name, school_path(school), :rel => 'facebox'
          %td{:width=>'60px'}
            = school.neighborhood.try(:name)
          %td{:width=>'60px'}
            == #{distance_in_miles_from_meters(school.distance)} mi.
          %td{:width=>'70px'}
            &nbsp;