%table.listings
  %thead
    %tr
      %th{:width=>'110px'} &nbsp;
      %th &nbsp;
      %th{:width=>'60px'} Grades
      %th{:width=>'180px'} School Hours
      %th{:width=>'70px'} Distance
  %tbody
    - if @all_schools.present?
      - @all_schools.each do |school|
        %tr
          %td
            = link_to image_tag('school.png')
          %td
            %h3
              = link_to school.name, school_path(school), :rel => 'facebox'
              - if session[:favorites] && session[:favorites].include?(school.id)
                = image_tag('heart-icon.png', :class => 'heart')
            %span.italic
              == #{school.address}, #{school.city.try(:name)}, #{school.state.try(:abbreviation)}
              %br/
              = school.phone
          %td.large{:width=>'60px'}
            = school.grade_levels.short_string
          %td.large{:width=>'180px'}
            =raw school.hours.present? ? truncate(school.hours, :length => 23) : '&nbsp;'
          %td.large{:width=>'60px'}
            =raw school.distance.present? ? "#{distance_in_miles_from_meters(school.distance)} mi." : '&nbsp;'
