%h1 Listing neighborhoods

%table
  %tr
    %th City
    %th Name
    %th
    %th
    %th

  - @neighborhoods.each do |neighborhood|
    %tr
      %td= neighborhood.city_id
      %td= neighborhood.name
      %td= link_to 'Show', neighborhood
      %td= link_to 'Edit', edit_neighborhood_path(neighborhood)
      %td= link_to 'Destroy', neighborhood, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Neighborhood', new_neighborhood_path
