%html
  %head
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = javascript_include_tag 'application'
    = csrf_meta_tag 
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  %body
    #header
      = link_to image_tag('/images/logo.png'), root_url
    #container
      /#navigation
      /  %ul.main-nav
      /    %li= link_to 'Home', root_url
      /    %li &nbsp;|&nbsp;
      /    %li= link_to 'Schools', schools_path
      /    %li &nbsp;|&nbsp;
      /    %li= link_to 'Your Schools', root_url
      = yield
    #footer
      = yield :scripts