%html
  %head
    %title Boston Public Schools &mdash; School Discovery App
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = javascript_include_tag 'application'
    = csrf_meta_tag 
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  %body
    #navigation
      %ul.main-nav
        - if params[:controller] == 'high_voltage/pages'
          %li.border.on 1. Search
        - else
          %li.border== 1. #{link_to 'Search', root_url}
        - if params[:controller] == 'schools'
          %li.border.on 2. Discover
        - else
          %li.border 2. Discover
        %li.border 3. Compare
        %li 4. Connect
    
    #container
      = yield
    #footer
      = yield :scripts